<ion-view style="" title="Login">
    <ion-content class="has-header" padding="true">
        <div data-ng-show="loginVm.loginError.label" style="" class="list card">
            <div class="error item item-body">{{loginVm.loginError.label}}</div>
            <div class="error item item-body">{{loginVm.loginError.detail}}</div>
        </div>
        <form style="" class="list" name="loginForm" novalidate>
            <label class="item item-input" data-ng-class="(loginForm.accountField.$dirty && !loginForm.accountField.$valid)?'error':''">
                <input type="email" name="accountField" data-ng-model="loginVm.login.mail" placeholder="Account" required >
            </label>
            <label class="item item-input" data-ng-class="(loginForm.passwordField.$dirty && !loginForm.passwordField.$valid)?'error':''">
                <input type="password" name="passwordField" data-ng-model="loginVm.login.pwd" placeholder="Password" required>
            </label>
            <div style="height: 40px;" class="spacer"></div>
            <button type="submit" style="" data-ng-disabled="!loginForm.$valid" data-on-tap="loginVm.connect()" class="button button-stable button-block" data-ng-class="(loginForm.$valid)?'':'disabled'">Connect</button>
        </form>
    </ion-content>
</ion-view>