<ion-view style="" title="Boards" data-on-tap="boardsVm.showDeleteBtns = false">
    <ion-content class="has-header" padding="true">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="boardsVm.doRefresh()">
        </ion-refresher>
        <ion-list data-show-delete="boardsVm.showDeleteBtns" style="">
            <ion-item data-on-hold="boardsVm.showDeleteBtns = true" data-ng-repeat="(id, board)  in boardsVm.boards" data-ng-if="id !== 'hardware'" data-on-tap="boardsVm.loadBoard(id)">
                {{id}}
                <ion-delete-button class="ion-minus-circled" data-on-tap="[boardsVm.deleteBoard(id), $event.stopPropagation()]"></ion-delete-button>
            </ion-item>
            <ion-item class="error" style="" data-ng-show="boardsVm.getBoardsLength() <= 1">
                No board found
            </ion-item>
        </ion-list>
        <div style="height: 40px;" class="spacer"></div>
        <form class="list" name="addBoardForm" novalidate data-ng-show="boardsVm.getBoardsLength() < 5">
            <div class="item item-input-inset" data-ng-class="(addBoardForm.addBoardName.$dirty && !addBoardForm.addBoardName.$valid)?'error':''">
                <label class="item-input-wrapper">
                    <input data-ng-pattern="/^[a-zA-Z0-9_]+$/" type="text" name="addBoardName" placeholder="New board" data-ng-model="boardsVm.newBoardName">
                </label>
                <span touch-submit data-on-tap="boardsVm.addBoard(addBoardForm.addBoardName.$valid)">&nbsp;&nbsp;<a class="icon ion-plus"></a>&nbsp;&nbsp;</span>
            </div>
        </form>
        <div style="width: 300px; height: 27px;" class="spacer"></div>
        <ion-toggle data-ng-repeat="feature in boardsVm.boards.hardware" data-ng-model="feature.activate" data-ng-change="feature.change()" toggle-class="toggle-calm">{{feature.name}}</ion-toggle>
    </ion-content>
</ion-view>