<ion-view style="" title="Settings">
    <ion-content class="has-header" padding="true">
        <div class="list">
            <div class="item item-icon-right">
                WS status :
                <i data-ng-if="settingsVm.wsReady"class="icon ion-checkmark-circled"></i>
                <i data-ng-if="!settingsVm.wsReady"class="icon ion-close-circled"></i>
            </div>
        </div>
        <form style="" class="list" name="newFeatureForm" novalidate>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Proxy server URL</span>
                <input type="text" data-ng-model="settingsVm.url" placeholder="URL">
            </label>
            <ion-checkbox data-ng-model="settingsVm.automaticWsUrl">Automatic WebService URL</ion-checkbox>
            <label data-ng-hide="settingsVm.automaticWsUrl" class="item item-input item-stacked-label">
                <span class="input-label">WS server URL</span>
                <input type="text" data-ng-model="settingsVm.wsUrl" placeholder="WS URL">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Device name</span>
                <input type="text" data-ng-model="settingsVm.deviceName" placeholder="Device name">
            </label>
            <div style="width: 300px; height: 10px;" class="spacer"></div>
            <div data-ng-hide="settingsVm.confirm" class="button-bar" >
                <a type="submit" class="button button-royal" data-on-tap="settingsVm.confirm = true">OK</a>
            </div>
            <div class="button-bar" data-ng-show="settingsVm.confirm">
                <a class="button button-assertive" data-on-tap="settingsVm.update()">Confirm</a>
                <a class="button" data-on-tap="settingsVm.cancel()">Cancel</a>
            </div>
        </form>
    </ion-content>
</ion-view>