<div class="text-center">
    <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="vm.activated" ng-change="vm.send()">
        <div class="track">
            <div class="handle"></div>
        </div>
    </label>
</div>