.error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.item-input-wrapper {
	background-color: initial;
}

i.item-delete.touchzone {
	color: #EF473A;
	cursor: pointer;
	position: absolute;
	padding: 16px;
	top: -8px;
	left: -8px;
}

body {
	background: rgb(70, 72, 75);
}

.light {
	height: 15px;
	margin: 7px 15% 7px 15%;
}

progress.gauge {
	height: 15px;
}

div.item-input-inset.message {
	padding: 0px;
	height: 30px;
}

div.item-input-inset.message i.icon{
	font-size: 16px;
}

div.item-input-inset.message label{
	padding-left: 0px;
}

div.item-input-inset.message input{
	margin-left: 10px;
	background-color: #EEE;
	width: 100%;
	border-radius: 3px;
}

div.item-input-inset.message a{
	margin-left: 0;
}

.light.off {
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1), inset 0 2px 20px rgba(0,0,0,0.07);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1), inset 0 2px 20px rgba(0,0,0,0.07);
	-ms-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1), inset 0 2px 20px rgba(0,0,0,0.07);;
	-o-box-shadow: inset 0 1px 5px rgba(0,0,0,0.1), inset 0 2px 20px rgba(0,0,0,0.07);;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.1), inset 0 2px 20px rgba(0,0,0,0.07);
	border-left: 5px solid lightgray;
	border-right: 5px solid lightgray;
}

.light.on {
	background: rgba(255,215,00,1);
	-webkit-box-shadow: 0 0 5px rgba(255,215,00,0.8), 0 0 20px rgba(255,215,00,0.8), 0 0 35px rgba(255,215,00,0.6), 0 0 50px rgba(255,215,00,0.6);
	-moz-box-shadow: 0 0 5px rgba(255,215,00,0.8), 0 0 20px rgba(255,215,00,0.8), 0 0 35px rgba(255,215,00,0.6), 0 0 50px rgba(255,215,00,0.6);
	-ms-box-shadow: 0 0 5px rgba(255,215,00,0.8), 0 0 20px rgba(255,215,00,0.8), 0 0 35px rgba(255,215,00,0.6), 0 0 50px rgba(255,215,00,0.6);
	-o-box-shadow: 0 0 5px rgba(255,215,00,0.8), 0 0 20px rgba(255,215,00,0.8), 0 0 35px rgba(255,215,00,0.6), 0 0 50px rgba(255,215,00,0.6);
	box-shadow: 0 0 5px rgba(255,215,00,0.8), 0 0 20px rgba(255,215,00,0.8), 0 0 35px rgba(255,215,00,0.6), 0 0 50px rgba(255,215,00,0.6);
}

.light.on.green {
	background: rgba(98,251,98,1);
	-webkit-box-shadow: 0 0 5px rgba(98,251,98,0.7), 0 0 20px rgba(98,251,98,0.7), 0 0 35px rgba(98,251,98,0.5), 0 0 50px rgba(98,251,98,0.5);
	-moz-box-shadow: 0 0 5px rgba(98,251,98,0.7), 0 0 20px rgba(98,251,98,0.7), 0 0 35px rgba(98,251,98,0.5), 0 0 50px rgba(98,251,98,0.5);
	-ms-box-shadow: 0 0 5px rgba(98,251,98,0.7), 0 0 20px rgba(98,251,98,0.7), 0 0 35px rgba(98,251,98,0.5), 0 0 50px rgba(98,251,98,0.5);
	-o-box-shadow: 0 0 5px rgba(98,251,98,0.7), 0 0 20px rgba(98,251,98,0.7), 0 0 35px rgba(98,251,98,0.5), 0 0 50px rgba(98,251,98,0.5);
	box-shadow: 0 0 5px rgba(98,251,98,0.7), 0 0 20px rgba(98,251,98,0.7), 0 0 35px rgba(98,251,98,0.5), 0 0 50px rgba(98,251,98,0.5);
}

.light.on.red {
	background: rgba(204,00,00,1);
	-webkit-box-shadow: 0 0 5px rgba(204,00,00,0.6), 0 0 20px rgba(204,00,00,0.6), 0 0 35px rgba(204,00,00,0.5), 0 0 50px rgba(204,00,00,0.5);
	-moz-box-shadow: 0 0 5px rgba(204,00,00,0.6), 0 0 20px rgba(204,00,00,0.6), 0 0 35px rgba(204,00,00,0.5), 0 0 50px rgba(204,00,00,0.5);
	-ms-box-shadow: 0 0 5px rgba(204,00,00,0.6), 0 0 20px rgba(204,00,00,0.6), 0 0 35px rgba(204,00,00,0.5), 0 0 50px rgba(204,00,00,0.5);
	-o-box-shadow: 0 0 5px rgba(204,00,00,0.6), 0 0 20px rgba(204,00,00,0.6), 0 0 35px rgba(204,00,00,0.5), 0 0 50px rgba(204,00,00,0.5);
	box-shadow: 0 0 5px rgba(204,00,00,0.6), 0 0 20px rgba(204,00,00,0.6), 0 0 35px rgba(204,00,00,0.5), 0 0 50px rgba(204,00,00,0.5);
}









